@model MvcValidacao.Models.Pessoa
@{
    ViewBag.Title = "Lista Resultado";
}

<h2>Resultado</h2>
<fieldset>
    <legend>Pessoa</legend>
    <div class="display-label" >
        @Html.DisplayNameFor(model=>model.Nome )
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Idade)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email )
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    @Html.ActionLink("Voltar","Index")
</fieldset>